*{
  margin-top: 10px;
  font-family: 'Montserrat', sans-serif;
    font-weight: 600;


}
.menu-container {
  position: relative;
  text-align: center;
  margin-bottom: 0;
}

.background-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.menu-options {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.menu-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.button-content {
  position: relative;
  display: inline-block;
}

.button-text {
  position: absolute;
  top: 10px;
  width: 100%;
  text-align: center;
  font-size: 18px;
  color: white;
  font-weight: bold;
  z-index: 1;
}

.option-image {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 10%
}

.menu-option:hover {
  transform: scale(1.05);
}
span{
  margin-top: 2px;
  color: #7e654e;
  font-size: 20px;
  font-family: 'Monserrat',  sans-serif;
  margin-top: 5px;
}



