<div class="menu-container">

  <div class="menu-options">

    <button mat-button class="menu-option" [routerLink]="['/recetas']">
      <img src="/img/imagen-receta.jpg" alt="Ver Recetas" class="option-image">
      <span>Buscar recetas</span>
    </button>

    <button mat-button class="menu-option" [routerLink]="['/mis-listas']" >
      <img src="/img/ver-listas.jpg" alt="Ver Mis Listas" class="option-image">
      <span>Mis recetarios</span>
    </button>

    <button mat-button class="menu-option" [routerLink]="['/agregar-receta']">
      <img src="img/crear-receta.jpg" alt="Crear Recetas" class="option-image">
      <span>Crear recetas</span>
    </button>


  </div>

</div>

