
app-navbar{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid rgba(247, 207, 121, 0.822);
    height: 500px;
    width: 500px;
    font-weight: 600;
    font-family: 'Monserrat', sans-serif;
    border-radius: 4px;
    padding: 5px;
    background-color: rgba(241, 232, 232, 0.342);
}

.contenedor-datos{

    margin: 5px;
    padding: 5px;
    width: 100%;
}

.btn{
    padding: 10px;
    font-size: 18px;
    width: 150px;
    background-color: rgba(247, 207, 121, 0.596);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    font-weight: 600;
    font-family: 'Monserrat', sans-serif;
}

.btn:hover{
    background-color: rgb(247, 207, 121);
    color: rgb(0, 0, 0);

}

label{
    font-size: 25px;

}
input{
    width: 100%;
    margin-top: 5px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid rgba(247, 207, 121, 0.596) ;
}

.div-input{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 300px;


}

.ingresar-datos{
    color: rgb(247, 207, 121);

}

#titulo-registro{
    font-size: 40px;
    margin-bottom: 15px;
    border-bottom: 2px solid rgb(247, 207, 121);
}
.requerido{
    color: rgb(226, 72, 72);
}

footer{
    margin-top: 200px;
    background-color: rgba(247, 207, 121, 0.596);
    border-top: 1px solid black;
    margin-top: 50px;
    height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
ul li{
    list-style: none;
}


.derechos{
    font-size: 20px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-top: 1px solid rgb(0, 0, 0);
}
#titulo-redes{
    font-size: 22px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(0, 0, 0);

}

.info1, .info2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.info1 ul li{
    margin-top: 5px;
}

.info1 ul li a{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.info1 ul li a:hover{
    border-bottom: 1px solid rgb(0, 0, 0);
}

.ojito{
    background-color: rgba(247, 207, 121, 0.596);
    margin-top: 5px;
    border-radius: 20px;
    border: none;
    padding: 5px;
}

.ojito:hover{
    background-color:rgb(247, 207, 121) ;
}

.btn{
    padding: 10px;
    font-size: 18px;
    width: 150px;
    background-color: rgba(247, 207, 121, 0.596);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
}

