<link rel="stylesheet"
type="text/css"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<app-navbar></app-navbar>

    <main class="hero">

  <div class="hero-text">
    <h1>Descubrí nuevas recetas todos los días</h1>

    <p>
      ¿Buscás un recetario práctico y moderno?  
      Organizá tus comidas, guardá tus recetas favoritas  
      y cociná con lo que tengas en casa.
    </p>

    <div class="hero-buttons">
      <button class="primary-btn" (click)="iraRegistrarse()">Comenzar gratis</button>
    </div>
  </div>

  <div class="hero-image">
    <img src="/img/logoUltimo.jpeg" alt="Logo">
  </div>

</main>

    <section class="about">

  <div class="about-content">
    <h2>¿Quiénes somos?</h2>

    <p>
      Somos desarrolladores apasionados por la tecnología y la cocina.
      Creamos esta app para ayudarte a organizar tus comidas,
      descubrir nuevas recetas y simplificar tu día a día.
    </p>
  </div>

</section>


     <app-footer></app-footer>




