<link rel="stylesheet"
type="text/css"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<app-navbar></app-navbar>
    <main>
        <div class="carta-pag">
         <p>¿Buscás un recetario de comidas?<br>
          ¡Llegaste al lugar indicado! Contamos con una gran variedad de
          recetas para que cocines con lo que tengas a mano<br>
          Registrate gratis y descubrí un mundo de ideas culinarias

         </p>

        </div>

        <div class="cont-img">
            <img src="/img/logoUltimo.jpeg" alt="Logo">
        </div>

     </main>

     <section>
        <div class="titulo-section">
            <h4>¿Quienes somos?</h4>
        </div>

         <div class="sobre-nosotros">
             <p>Somos un grupo de desarrolladores de aplicaciones web, apasionados por la tecnologia tratando de mejorar tu alimentacion con una simple APP <br>
             </p>
            </div>

     </section>


     <footer>
        <div class="info1">
          <div class="social-links">
            <p id="titulo-redes"></p>
            <ul>

                <li>
                  <a href="https://github.com/LucasMartinCosta/RecetasCompleto"  target="_blank"><i class="fa fa-github"></i></a>
                </li>
                <li>
                  <a href="https://www.instagram.com/"  target="_blank"><i class="fa fa-instagram"> </i></a>
                </li>
                <li>
                  <a href="https://facebook.com"  target="_blank"><i class="fa fa-facebook"></i></a>
                </li>
            </ul>
        </div>
      </div>

        <div class="info2">
            <h4 class="derechos">Todos los derechos reservados</h4>
        </div>

    </footer>




