<div class="page-container">

  <app-nav-bar-login></app-nav-bar-login>

  <section class="main-content">

    <div class="info-receta">
      <div class="nombre-lista-container">
        <p class="nombre-lista">{{lista?.nombre}}</p>
        <button class="btn-ordenar"
                (click)="ordenarPorPuntuacion()">
          Ordenar por puntuación ↓
        </button>
      </div>

      <div class="botones">
        @for (receta of recetasarreglo; track receta.id) {
          <app-delete-update-output
            [receta]="receta"
            [listaId]="lista?.id ?? 0"
            (delete)="deleterecipe22($event)"
            (update)="onUpdate($event)"
            (detalles)="navigateToDetails($event)">
          </app-delete-update-output>
        }
      </div>

    </div>

  </section>

  <app-footer></app-footer>

</div>