.navbar {
  height: 70px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(255,255,255,0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(0,0,0,0.05);
  position: sticky;
  top: 0;
  z-index: 100;
}

/* IZQUIERDA */
.navbar-left {
  display: flex;
  align-items: center;
}

.logo-btn {
  display: flex;
  align-items: center;
  gap: 12px;
  border: none;
  background: none;
  cursor: pointer;
}

.logo-image {
  width: 45px;
  height: 45px;
  border-radius: 12px;
  object-fit: cover;
}


/* DERECHA */
.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

/* Botón secundario */
.nav-link {
  background: none;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: #4d3540;
  transition: 0.3s;
}

.nav-link:hover {
  opacity: 0.7;
}

/* Botón principal */
.nav-primary {
  padding: 10px 20px;
  border-radius: 25px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  background: linear-gradient(135deg, #e3c98d, #e09422);
  transition: 0.3s;
}

.nav-primary:hover {
  transform: translateY(-2px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}