<div class="page-container">
<app-nav-bar-login></app-nav-bar-login>
<h2>Crea tus propias listas personalizadas</h2>
<!-- Crear una nueva lista -->
<form [formGroup]="formulario" (ngSubmit)="postLista()" class="formulario">
  <div class="input-container">
    <label for="nombre" class="form-label">Nombre del recetario:</label>
    <input
      type="text"
      placeholder="Introduce el nombre del nuevo recetario"
      formControlName="nombre"
      class="form-input" />
  </div>


  <div *ngIf="formulario.controls['nombre'].getError('required') && formulario.controls['nombre'].touched" class="error-message">
    <p>Campo requerido</p>
  </div>

  <button type="submit" class="submit-button" [disabled]="formulario.invalid">Crear lista</button>
</form>
<app-footer></app-footer>
</div>



<!-- En este componente se crean listas personalizadas y las carga en el archivo recetas.json
    Lo que falta hacer ahora es ver como podemos agregar las recetas propias y de la api a las listas -->

