<link rel="stylesheet"
type="text/css"
href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<footer>
    <div class="social-links">
      <div class="sub-us">
        <ul>

            <li>
              <a href="https://github.com/LucasMartinCosta/RecetasCompleto"  target="_blank"><i class="fa fa-github"></i></a>

            </li>
            <li>
              <a href="https://www.instagram.com/"  target="_blank"><i class="fa fa-instagram"> </i></a>

            </li>
            <li>
              <a href="https://facebook.com"  target="_blank"><i class="fa fa-facebook"></i></a>

            </li>
        </ul>
      </div>
    </div>

    <div class="info2">
        <h4 class="derechos">Todos los derechos reservados</h4>
    </div>

</footer>
