.footer {
    background-color: rgba(242, 216, 161, 0.46);
  backdrop-filter: blur(8px);
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  padding: 30px 40px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

/* Marca */
.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.brand-name {
  font-weight: 700;
  font-size: 18px;
  color: #4d3540;
}

.copyright {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
}

/* Redes */
.social-links {
  display: flex;
  gap: 18px;
}

.social-links a {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: linear-gradient(135deg, #e3c98d, #e09422);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  color: white;
  font-size: 16px;
}

.social-links a:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}